.cart-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    
}
.cart-img{
    width: 100px;
    margin-right: 50px;
    margin-left:50px
}
.cart-title{
    font-weight: 600;
}
.cart-price{
    margin-right: 50px;
    font-weight: 800;
}